---

---

<section class="section direccion">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="impulsamos-content">
          <div class="impulsamos-content-text">
            <h2 class=" font-bold text-sw text-white mb-3">
              Dirección y contacto
            </h2>
            <ul>
              <li class="text-white flex items-center mb-1 py-3">
                <img src="/images/mark.svg"  class="mr-6" width="20"/><p class="text-xl text-white">
                  Paseo Vistas del Sol Oficina 3 Piso 12 Torre A Col Haciendas del Valle. Chihuahua, Chihuahua.</li>
              <li class="text-white flex items-center mb-1 py-3">
                <img src="/images/phone.svg" class="mr-4"  width="30"/>
                <p class="text-xl text-white">+52 614 169 0267</li>
              <li class="text-white flex items-center mb-1 py-3">
                <img src="/images/email.svg" class="mr-4"  width="30"/><p class="text-xl text-white">contactocrenor@gmail.com</li>
            </ul>
          </div>
          <div class="impulsamos-content-image">
            <img
              src="/images/crenorrecepcion.webp"
              alt="Crenor Recepcion"
              class="impulsamos-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .direccion {
    background-color: transparent;
    background-image: radial-gradient(
      #6c883d 0%,
      #102229 100%
    );
  }
  .impulsamos-content {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .impulsamos-logo {
    display: block;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .impulsamos-content-text {
    padding-top: 20px;
  }

  .impulsamos-content-text h2 {
    font-size: 2.8rem;
  }

  @media (max-width: 768px) {
    .impulsamos-content {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    .impulsamos-content-text{
      padding-top: 0;
    }
  }
</style>
