---

---

<section class="section page-header-base header-quiero-prestar">
  <div class="page-header-bgimage"></div>
  <div class="container page-header-container">
    <div class="row">
      <div class="col-12">
        <div class="page-header-container">
          <div class="page-header-content">
            <h1 class="page-header-content-title">
              Quiero Prestar
            </h1>
            <p
              class="text-white text-center text-[27px] mb-4 text-sw font-medium mb-6"
            >
              Haz crecer tu dinero
            </p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Empieza a invertir</a>
            </div>
          </div>

          <div class="page-header-image">
            <img
              src="/images/quiero-prestar.webp"
              alt="Header Quiero Prestar"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
