---

---

<section class="section header-solicita-tu-credito">
  <div class="header-solicita-tu-credito-bgimage_img"></div>
  <div class="container header-solicita-tu-credito-container">
    <div class="row">
      <div class="col-12">
        <div class="header-solicita-tu-credito-container">
          <div class="header-solicita-tu-credito-content">
            <h1 class="text-white text-center text-6xl mb-4 font-bold text-sw">
              Nuestros Préstamos
            </h1>
            <p
              class="text-white text-center text-[27px] mb-4 text-sw font-medium mb-6"
            >
              Elige el que mejor se adapte a ti.
            </p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Empieza tu solicitad</a>
            </div>
          </div>

          <div class="header-solicita-tu-credito-image">
            <img src="/images/nuestrosprestamos.webp" alt="Header Solicita Tu Crédito" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .header-solicita-tu-credito {
    position: relative;
    overflow: hidden;
    padding-top: 140px;
    background: transparent linear-gradient(113deg, #102129 0%, #2d5533 100%) 0%
      0% no-repeat padding-box;
  }
  .header-solicita-tu-credito-bgimage_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/figurebackground.webp");
    background-size: cover;
    z-index: 1;
  }
  .header-solicita-tu-credito-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .header-solicita-tu-credito-image {
    padding: 20px 50px;
    width: 50%;
  }
  .header-solicita-tu-credito-content {
    width: 50%;
  }
</style>
