---

---

<section class="section impulsamos bg-[#6C883D]">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="impulsamos-content">
          <div class="impulsamos-content-text">
            <img
              src="/images/logo-white.webp"
              alt="Crenor"
              class="impulsamos-logo"
            />
            <h2
              class=" text-2xl font-bold text-sw text-white mb-3"
            >
              En CRENOR, impulsamos tus metas.
            </h2>
            <p class="text-white">
              Ofrecemos créditos flexibles y personalizados para personas
              físicas y morales en Chihuahua. Ya sea que busques hacer crecer tu
              negocio o lograr un objetivo personal, tenemos la solución
              financiera ideal para ti.
            </p>
          </div>
          <div class="impulsamos-content-image">
            <img
              src="/images/crenorrecepcion.webp"
              alt="Crenor Recepcion"
              class="impulsamos-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .impulsamos-content {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .impulsamos-logo {
    display: block;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .impulsamos-content-text{
    padding-top: 20px;
  }

  @media (max-width: 768px) {
    .impulsamos-content {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    .impulsamos-content-text{
      padding-top: 0;
    }
  }
</style>
