---
import Faq from "@/layouts/function-components/Faq";

const preguntas = [
  {
    title: "1. ¿Qué necesito para solicitar un crédito en Crenor?",
    content:
      "Llenar tu solicitud de crédito, INE escaneada, solicitud de revisión buró de crédito. Una vez autorizado nos comunicaremos para continuar con el trámite.",
  },
  {
    title: "2. ¿En cuánto tiempo recibo respuesta a mi solicitud?",
    content:
      "Recibirás una respuesta en un tiempo promedio de 48 a 72 horas hábiles después de enviar tu documentación completa.",
  },
  {
    title: "3. ¿Crenor está regulado?",
    content:
      "Si, la clave de registro es 696408. Somos una SOFOM legalmente constituida en México y operamos bajo el marco regulatorio aplicable a las Sociedades Financieras de Objeto Múltiple: <a href='https://webapps.condusef.gob.mx/SIPRES/jsp/home_publico.jsp?idins=16973' target='_blank'>https://webapps.condusef.gob.mx/SIPRES/jsp/home_publico.jsp?idins=16973</a>",
  },
  {
    title: "4. ¿Puedo hacer todo el trámite en línea?",
    content:
      "Toda la autorización es 100% línea, solo acudirás a sucursal cuando tengas que firmar los documentos para que fondeamos tu préstamo.",
  },
  {
    title: "5. ¿Qué tipo de créditos ofrecen?",
    content:
      "Ofrecemos créditos personales y créditos para PyMEs diseñados para apoyar liquidez, capital de trabajo, crecimiento, consolidación de proyectos y necesidades financieras específicas.",
  },
  {
    title: "6. ¿Dónde se encuentra Crenor?",
    content:
      "Paseo Vistas del Sol Oficina 3 Piso 12 Torre A Col Haciendas del Valle. Chihuahua, Chihuahua.",
  },
  {
    title: "7. ¿Qué hacen con mis datos?",
    content:
      "Puedes conocer nuestro aviso de privacidad donde se especifica a detalle.",
  }
];
---

<section class="preguntas-frecuentes" id="preguntas-frecuentes">
  <div class="preguntas-frecuentes-bg"></div>
  <div class="container ptr">
    <div class="row">
      <div class="col-12 py-12">
        <h2 class="text-center text-6xl font-bold text-sw text-primary mb-12">
          Preguntas frecuentes
        </h2>
        <Faq faq_list={preguntas} client:load />
      </div>
    </div>
  </div>
</section>

<style>
  .ptr {
    position: relative;
    z-index: 2;
  }
  .preguntas-frecuentes {
    position: relative;
    overflow: hidden;
  }
  .preguntas-frecuentes-bg {
    background-image: url("/images/faq.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
</style>
