---
---
<section class="section seguridad py-12">
    <div class="seguridad-bgimage_img"></div>
    <div class="container seguridad-container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-6 text-center text-6xl font-bold text-sw text-[#2D5C00]">
                    Seguridad y confianza
                </h2>
                <p class="text-center text-2xl text-sw text-[#6C883D] font-medium">
                    Consulta nuestro Contrato de Adhesión en el portal de la<br class="hidden md:block" /> 
                    CONDUSEF, dentro del Registro de Contratos de Adhesión (RECA),<br class="hidden md:block" /> 
                    con número: 16973-140-042154/01-01186-0525.
                </p>
            </div>
        </div>
    </div>
</section>

<style> 
    .seguridad {
        position: relative;
        overflow: hidden;
    }
    .seguridad-bgimage_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/faq.webp");
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        opacity: 0.5;
        z-index: 1;
    }
    .seguridad-container {
        position: relative;
        z-index: 2;
    }
</style>