---
import Base from "@/layouts/Base.astro";
---

<Base
  title="Aviso de Privacidad | Crenor"
  meta_title="Aviso de Privacidad | Crenor"
  description="Aviso de Privacidad | Crenor"
>
  <div class="pt-44 pb-6 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-4xl font-bold text-white mb-8">
            Aviso de Privacidad
          </h1>
        </div>
      </div>
    </div>
  </div>
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div class="mx-auto max-w-2/3">
          <h2 class="text-2xl font-semibold mt-8 mb-4">
            1. Identidad y domicilio del responsable
          </h2>
          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          
          <h2 class="text-2xl font-semibold mt-8 mb-4">
            2. Finalidades del tratamiento de los datos personales
          </h2>
          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            3. Medidas de seguridad
          </h2>
          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            4. Transferencia de datos
          </h2>
          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            5. Derechos ARCO
          </h2>
          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            6. Cambios al aviso de privacidad
          </h2>
          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </section>
</Base>
