---
import Base from "@/layouts/Base.astro";
---

<Base
  title="Aviso de Privacidad | Crenor"
  meta_title="Aviso de Privacidad | Crenor"
  description="Aviso de Privacidad | Crenor"
>
  <div class="pt-44 pb-6 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-4xl font-bold text-white mb-8">
            Política de Cobranza
          </h1>
        </div>
      </div>
    </div>
  </div>
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div class="mx-auto max-w-2/3">
          <h2 class="text-2xl font-semibold mt-8 mb-4">
            1. Definición y objeto de la política de cobranza
          </h2>
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a lacus at urna cursus porta. Mauris facilisis erat ut tortor aliquet, a laoreet massa cursus. Pellentesque euismod, justo quis tincidunt commodo, massa lacus tincidunt enim, ac facilisis nisi enim quis massa. Nullam aliquam nisl ut ultricies aliquam. Etiam egestas, metus eget scelerisque dignissim, magna odio feugiat nisi, ac porttitor magna est sit amet enim.
          </p>
          <p class="mb-6">
            Proin auctor consequat rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque sed ultrices justo, at pretium nulla. Nullam eleifend ex arcu, id condimentum eros faucibus ut. Praesent non nisi euismod, dictum ligula id, viverra enim.
          </p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            2. Procedimientos de cobranza
          </h2>
          <p class="mb-6">
            Cras laoreet, magna nec facilisis egestas, dolor urna facilisis nibh, id viverra erat nibh a ante. Integer ultrices sed justo at molestie. Sed euismod ante nec ullamcorper cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin consequat, libero in porttitor dictum, elit erat convallis est, at tincidunt mi sapien ut arcu.
          </p>
          <p class="mb-6">
            Fusce molestie maximus massa, eu convallis erat posuere ac. Aenean vel commodo justo. Phasellus sed consectetur nunc, et blandit quam. Morbi scelerisque nisi viverra, rutrum neque eu, blandit urna. Donec non lobortis augue.
          </p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            3. Comunicación con el deudor
          </h2>
          <p class="mb-6">
            Etiam eget dolor ut mauris dictum consequat. Mauris id tristique ipsum. Pellentesque egestas sed urna nec hendrerit. Maecenas blandit imperdiet feugiat. Proin fermentum orci quis erat facilisis, nec blandit risus dictum. Sed faucibus, dolor vel pharetra tempus, dolor mauris laoreet nisi, at commodo ex libero nec elit.
          </p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            4. Prohibiciones y buenas prácticas
          </h2>
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque feugiat metus id fermentum dictum. Quisque dictum velit arcu, in posuere ipsum facilisis in. Pellentesque nec orci lacus. In et metus facilisis, malesuada orci nec, facilisis metus.
          </p>
          <p class="mb-6">
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus ut ligula sit amet massa consequat posuere. Etiam eget nulla nec arcu porttitor scelerisque vitae ac lorem. Integer viverra molestie massa, et facilisis leo.
          </p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">5. Procedimiento en caso de incumplimiento</h2>
          <p class="mb-6">
            Sed sit amet sapien dictum, hendrerit orci at, finibus velit. Duis at ex et tellus lobortis venenatis. Suspendisse volutpat posuere arcu, nec fermentum mi porttitor vel. Etiam consequat mi ipsum, sit amet cursus enim gravida non. Curabitur blandit sapien dolor, nec convallis arcu pharetra in.
          </p>
          <p class="mb-6">
            Praesent cursus nisi vitae massa pretium, at feugiat massa tempor. Mauris commodo magna felis, a volutpat erat pellentesque in. Ut placerat erat a sapien volutpat, a fermentum erat dictum.
          </p>

          <h2 class="text-2xl font-semibold mt-8 mb-4">
            6. Cambios en la política de cobranza
          </h2>
          <p class="mb-6">
            Pellentesque at risus in lectus cursus dictum. Nam viverra, leo a feugiat feugiat, odio sem porta nulla, nec imperdiet odio nisi eu mauris. Nam sagittis hendrerit dictum. Integer et erat eleifend, congue lectus eu, dignissim urna. Etiam maximus, diam id cursus mattis, lectus nulla cursus neque, eget feugiat nunc nulla nec enim.
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
