---
import Base from "@/layouts/Base.astro";
---

<Base>
  <div class="pt-44 pb-6 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-4xl font-bold text-white mb-8">
            Unidad Especializada de Atención a Usuarios (UNE)
          </h1>
        </div>
      </div>
    </div>
  </div>
  <section class="container pt-12">
    <div class="row">
      <div class="col-12">
        <p class="mb-6">
          Reclamaciones o aclaraciones en su Unidad Especializada de Atención a
          Usuarios ubicada en y por correo electrónico <a
            href="mailto:contacto@crenorsofom.com"
            class="underline">contacto@crenorsofom.com</a
          > o teléfono <a href="tel:6144255253" class="underline"
            >614-425-5253</a
          > con atención al Titular de la UNE, en un Horario de 09:00 – 18:00 hrs.<br
          />
          <strong>Domicilio:</strong> Paseo Vistas del Sol, 6800, PISO 12, oficina
          3, Torre A, Haciendas del Valle I, C.P. 31217, Chihuahua, Chih.
        </p>
        <h2 class="text-xl font-semibold mt-8 mb-3">
          Comisión Nacional para la Protección y Defensa de los Usuarios de
          Servicios Financieros (CONDUSEF)
        </h2>
        <ul class="list-inside mb-6">
          <li>Teléfono: 01 800 999 8080 y 55 5340 0999 (Distrito Federal).</li>
          <li>
            Página de Internet: <a
              href="https://www.condusef.gob.mx"
              target="_blank"
              rel="noopener"
              class="underline">www.condusef.gob.mx</a>
          </li>
          <li>
            Correo electrónico: <a
              href="mailto:opinion@condusef.gob.mx"
              class="underline">opinion@condusef.gob.mx</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</Base>
